apiVersion: apps/v1
kind: Deployment
metadata:
  name: week1-frontend-deployment
  labels:
    app: week1-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: week1-frontend
  template:
    metadata:
      labels:
        app: week1-frontend
    spec:
      containers:
      - name: week1-frontend
        image: mindxweek1minhnhacr.azurecr.io/week1-frontend:v5
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
      imagePullSecrets:
      - name: acr-secret